.root {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input span {
  font-size: 12px;
  color: rgb(75, 74, 74);
}